body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightgray;
}

.gallery{
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: nowrap;
    
    
}

.left{
    justify-content: space-between;
    flex-wrap: wrap;

}
 .left img{
    height: 200px;
    width: 250px;
    border-radius: 20px;
 }

.right{
    justify-content: space-between;
}

.right img{
    height: 200px;
    width: 150px;
    border-radius: 20px;
}

.gallery-item{
    flex-grow: 1;
    margin: 10px;
}


